* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'cursive';
    font-size: larger;
    background-color: darkgray;
   }
 
   li {
    list-style: none;
    
   }
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #111A21;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
    
   }
   /* logo */
   .logo {
    font-size: 30x;
    color:#2794F8;
   }
   /* navbar menu*/
   .menu {
    display: flex;
    gap: 1em;
    font-size: 15px;
    padding: 5px;
   }
   .menu li:hover {
    background-color: #4c5053;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
    border-bottom: 2px solid white;
   }
   .menu li:active{
       color: purple;
   }
   .menu li {
    padding: 5px 6px;
   }
    /* dropdown menu */
   .services{
    padding:20px;color: #111A21;
    font-weight: bold;text-align: center; 
    font-size: 30px; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    background-color: #232427"
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
    
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }
   
   input[type=checkbox]{
    display: none;
   } 
   /* menu bar*/
   .hamburger {
    display: none;
    font-size: 35px;
    user-select: none;
   }
   .heading{
       background-color: #fff;
       text-align: center;
       font-size: 30px;
       font-weight: bold;
       font-family :Verdana, Geneva, Tahoma, sans-serif;
       padding-top: 10px;
       padding-bottom: 10px;
   }
   .Video{
       display: block;
       position: relative;
       width: 100%;
       margin: auto;
       padding-bottom: 56.25%;
       height: 0;
   }
 
   .Utube{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       border: 10px solid black;
       
    }

   /* media query */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#111A21;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#2794F8;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   
   .hamburger {
    display: block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    
 }
   .hamburger:hover{
       cursor: pointer;
   }
    
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
    cursor: pointer;
   }
    
 }


.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

header {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1 {
	font-size: 60px;
}

.counters {
	background: #0f479a;
	color: #fff;
	padding: 40px 20px;
	border-top: 3px lightskyblue solid;
}

.counters .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.counters i {
	color: lightskyblue;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		border-bottom: 1px lightskyblue solid;
		padding-bottom: 20px;
	}
}

